<%= form_tag votes_path, method: :post, remote: true, id: 'voting_form' do %>
  <%= hidden_field_tag 'question[id]', @question.id %>

  <%= render partial: 'questions/vote_option', collection: @poll.alternatives, as: :option %>

  <p><b>Total votes: <%= @question.votes_summary %></b></p>

  <% if current_user.voted_for?(@question) %>
    <p>You have already voted!</p>
  <% else %>
    <%= submit_tag 'Vote', class: 'btn btn-lg btn-primary' %>
  <% end %>
<% end %>
